{% extends "aluno_base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aluno:aluno_home' %}">Painel de Controle</a>
            </li>
            <li class="breadcrumb-item active">Contato</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Como encontrar você ?
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    SEU FORM AQUI
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}