{% extends "aluno_base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aluno:aluno_home' %}">Painel de Controle</a>
            </li>
            <li class="breadcrumb-item active">Sobre Mim</li>
        </ol>

   <!-- Formulário "Sobre Mim" -->
        <div class="card mb-3">
            <form action="." novalidate method="POST">
            {% csrf_token %}
            <div class="card-header">
                <i class="fas fa-table"></i>
                Fale um pouco sobre você
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <div class="row">
                    <div class="col-sm">
                        <label for="{{ form.data_nascimento.id_for_label }}">{{ form.data_nascimento.label }}</label>
                        {{ form.data_nascimento.errors }}
                        {{ form.data_nascimento }}
                    </div>
                    <div class="col-sm">
                        <label for="{{ form.sexo.id_for_label }}">{{ form.sexo.label }}</label>
                        {{ form.sexo.errors }}
                        {{ form.sexo }}

                    </div>
                    <div class="col-sm">
                        <label for="{{ form.deficiencia.id_for_label }}">{{ form.deficiencia.label }}</label>
                        {{ form.deficiencia.errors }}
                        {{ form.deficiencia }}
                    </div>

                  </div>
                    <br>
                    <label for="{{ form.sobre_voce.id_for_label }}">
                        {{ form.sobre_voce.label }}</label>
                        {% if form.sobre_voce.errors %}
                            {{ form.sobre_voce. }}
                        {% endif %}
                    {{ form.sobre_voce.errors }}
                    {{ form.sobre_voce }}
                    <br>
                    <label for="{{ form.objetivos_profissionais.id_for_label }}">
                        {{ form.objetivos_profissionais.label }}</label>
                    {{ form.objetivos_profissionais.errors }}
                    {{ form.objetivos_profissionais }}
                  <br>
                  <div class="row">
                    <div class="col-sm">
                    <label for="{{ form.telefone.id_for_label }}">
                        {{ form.telefone.label }}</label><br>
                        {{ form.telefone.errors }}
                        {{ form.telefone }}
                    </div>
                    <div class="col-sm">
                    <label for="{{ form.celular.id_for_label }}">
                        {{ form.celular.label }}</label><br>
                        {{ form.celular.errors }}
                        {{ form.celular }}
                    </div>
                    <div class="col-sm">
                    <label for="{{ form.telefone_recado.id_for_label }}">
                        {{ form.telefone_recado.label }}</label><br>
                    {{ form.telefone_recado.errors }}
                    {{ form.telefone_recado }}
                    </div>
                  </div>
                    <br><br>
                </div>
                <br>
                <button class="btn btn-primary btn-block" type="submit">Atualizar</button>
            </div>
            </form>
        </div>


    </div>
    <!-- /.container-fluid -->


{% endblock %}