{% extends "aluno_base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aluno:aluno_home' %}">Painel de Controle</a>
            </li>
            <li class="breadcrumb-item active">Universidades e Faculdades</li>
        </ol>

        <!-- Div Dados -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Em que curso você estuda / estudou ?
            </div>
            <div class="card-body">
                <div class="table-responsive">
                </div>
                <form action="." novalidate method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ pk }}" name="chave_primaria">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="{{ form.curso.id_for_label }}">{{ form.curso.label }}</label>
                            {{ form.curso }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-7">
                            <label for="{{ form.instituicao.id_for_label }}">{{ form.instituicao.label }}</label>
                            {{ form.instituicao }}
                        </div>
                        <div class="col-sm-5">
                            <label for="{{ form.situacao.id_for_label }}">{{ form.situacao.label }}</label>
                            {{ form.situacao }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="{{ form.carga_horaria.id_for_label }}">{{ form.carga_horaria.label }}</label>
                            {{ form.carga_horaria }}
                        </div>
                        <div class="col-sm-4">
                            <label for="{{ form.data_inicio.id_for_label }}">{{ form.data_inicio.label }}</label>
                            {{ form.data_inicio }}
                        </div>
                        <div class="col-sm-4">
                            <label for="{{ form.data_fim.id_for_label }}">{{ form.data_fim.label }}</label>
                            {{ form.data_fim }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-primary btn-block" type="submit">Editar</button>
                        </div>
                    </div>
                </form>
                <br>
                <form action="{% url 'aluno:aluno_faculdade_excluir' %}" novalidate method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ pk }}" name="chave_primaria">

                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-danger btn-block" type="submit">Excluir</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer small text-muted">Editar / Excluir o curso cadastrado anteriormente.</div>
        </div>
    </div>

{% endblock %}