{% extends "aluno_base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aluno:aluno_home' %}">Painel de Controle</a>
            </li>
            <li class="breadcrumb-item active">Contato</li>
        </ol>

        <form action="." novalidate method="POST">
            {% csrf_token %}
            <div class="card-header">
                <i class="fas fa-table"></i>
                Como encontrar você ?
            </div>
            <br>
            <div class="row">
                <div class="col-sm-10">
                    <label for="{{ form.endereco.id_for_label }}">{{ form.endereco.label }}</label>
                    {{ form.endereco }}
                </div>
                <div class="col-sm-2">
                    <label for="{{ form.endereco_numero.id_for_label }}">{{ form.endereco_numero.label }}</label>
                    {{ form.endereco_numero }}

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label for="{{ form.endereco_complemento.id_for_label }}">{{ form.endereco_complemento.label }}</label>
                    {{ form.endereco_complemento }}
                </div>
                <div class="col-sm-5">
                    <label for="{{ form.endereco_cidade.id_for_label }}">{{ form.endereco_cidade.label }}</label>
                    {{ form.endereco_cidade }}
                </div>
                <div class="col-sm-3">
                    <label for="{{ form.endereco_estado.id_for_label }}">{{ form.endereco_estado.label }}</label>
                    {{ form.endereco_estado }}

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="{{ form.telefone.id_for_label }}">
                        {{ form.telefone.label }}</label><br>
                    {{ form.telefone.errors }}
                    {{ form.telefone }}
                </div>
                <div class="col-sm">
                    <label for="{{ form.celular.id_for_label }}">
                        {{ form.celular.label }}</label><br>
                    {{ form.celular.errors }}
                    {{ form.celular }}
                </div>
                <div class="col-sm">
                    <label for="{{ form.telefone_recado.id_for_label }}">
                        {{ form.telefone_recado.label }}</label><br>
                    {{ form.telefone_recado.errors }}
                    {{ form.telefone_recado }}
                </div>
            </div>
            <br><br>
    </div>
    <br>
    <button class="btn btn-primary btn-block" type="submit">Atualizar</button>
    </div>
    </form>
    <br>
    </div>

{% endblock %}