{% extends "aluno_base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'aluno:aluno_home' %}">Painel de Controle</a>
            </li>
            <li class="breadcrumb-item active">Universidades e Faculdades</li>
        </ol>

        <!-- Div Dados -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Em que curso você estuda / estudou ?
            </div>
            <div class="card-body">
                <div class="table-responsive">
                </div>
                {% for faculdade in faculdades %}
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6">
                        <form action="{% url 'aluno:aluno_faculdade_editar' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{ faculdade.id }}">
                            <button class="btn btn-primary btn-block" type="submit">
                                {{ faculdade }}
                            </button>
                            <br>
                        </form>
                    </div>
                </div>

                {% endfor %}
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <form action="{% url 'aluno:aluno_faculdade_cadastro' %}" method="GET">
                            <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Cadastre os cursos de graduação e pós-graduação</div>
        </div>
    </div>

{% endblock %}